.Link {
    text-decoration: none;
}

.movieList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.moviePoster {
    border-radius: 25px;
    width: 400px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.moviePoster:hover,
.moviePoster:focus {
    transform: scale(1.1);
}

.filmTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: aliceblue;
    border: 1px solid;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(104, 103, 103);
}

.filmTitle:hover,
.filmTitle:focus {
    background-color: aliceblue;
    color: rgb(104, 103, 103);
}