.goBackButton {
    margin: 20px 0 20px 20px;
    color: aliceblue;
    background-color: rgb(104, 103, 103);
    font-weight: 400;
    font-size: 13px;
    height: 25px;
    width: 74px;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
}

.goBackButton:hover,
.goBackButton:focus {
    color: rgb(104, 103, 103);
    background-color: aliceblue
}

.reviewsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.noReviews {
    font-size: 20px;
    text-align: center;
}